{% extends 'base.html.twig' %}

{% block title %}Votre panier
{% endblock %}

{% block body %}

	{% for rubrique, messages in app.flashes %}
		<div class="alert alert-{{ rubrique }}">
			{% for message in messages %}
				<div>{{ message }}</div>
			{% endfor %}
		</div>
	{% endfor %}

	<h1>Votre panier</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Produit</th>
				<th>Prix</th>
				<th>Quantité</th>
				<th>Total</th>
                <th></th>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
				<tr>
					<td>{{ item.product.name }}</td>
					<td>{{ item.product.price }}
						€</td>
					<td>
                          
                        <a class="btn-sm btn-success" href="{{ path('cart_increment', {'id': item.product.id}) }}">
                        <i class="fas fa-plus"></i></a>
                            {{ item.quantity}}
                        <a class="btn-sm btn-warning" href="{{ path('cart_decrement', {'id': item.product.id}) }}">
                        <i class="fas fa-minus"></i></a>
                    </td>
					<td>{{ item.total }}€</td>
					<td>
						<a class="btn-sm btn-danger" href="{{ path('cart_delete', {'id': item.product.id}) }}">
                        <i class="fas fa-trash"></i></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">Total</td>
				<td colspan="2">{{ total }}
					€</td>
			</tr>
		</tfoot>
	</table>


{% endblock %}
