{% extends 'base.html.twig' %}

{% block title %}
	Categorie :
	{{ slug }}
{% endblock %}

{% block body %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ path('homePage')}}">Accueil</a>
		</li>
		<li
			class="breadcrumb-item active">
			{# <a href="/{{category.slug}}">{{category.name}}</a> #}
			<a href="{{ path('product_category', {'slug': category.slug} )}}">{{category.name}}</a>
		</li>
	</ol>
	<h1>
		Categorie :
		{{ category.name }}
	</h1>

	<div class="row">
		{% for product in category.products %}

			<div class="col-3">
			{% include 'product/_product_card.html.twig' %}
			</div>
		{% endfor %}
	</div>

{% endblock %}

